
<div class="text-layout">
  <h1>{{ nombre | titlecase}}</h1>
  <h1>{{ valor | number}}</h1>
  <h1>{{ obj | json}}</h1>
  
  <button 
    pButton type="button" 
    (click)="mostrarNombre()" 
    label="Cambiar nombre"
    icon="pi pi-apple" 
    iconPos="right" 
    class="p-button-help"></button>

  <p-card 
    [header]="nombre | titlecase "
    subheader="Subheader">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod iure, ex minus, veritatis saepe cupiditate culpa nemo esse enim magnam odio rerum facilis quibusdam officia quidem! A, vel provident! Rerum.
      </p>
  </p-card>
</div>

